<!DOCTYPE html>
<%- include('./partial/head.ejs') %>
<body>
    <%- include('./partial/nav.ejs') %><br>
    <div class="container-fluid">
    <h1>The 404 page</h1>
    </div>
    <%- include('./partial/footer.ejs') %>  
</body>