<footer class="text-center text-white fixed-bottom" style="background-color:grey">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color:text-gray-400">
      © 2020 Copyright:
      <a class="text-white" href="https://mdbootstrap.com/">Node App</a>
    </div>
    <!-- Copyright -->
  </footer>